@import "tailwindcss";
@font-face {
  font-family: "BrunoAce";
  src: url('@/shared/assets/fonts/BrunoAceSC-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Play";
  src: url('@/shared/assets/fonts/Play-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Play, sans-serif;
}
